include *.txt
include *.md
include *.pkl
recursive-include ./cvd_model/*

include cvd_model/datasets/CVD_cleaned.csv
include cvd_model/trained_models/*.pkl
include cvd_model/VERSION
include cvd_model/config.yml

include ./requirements/requirements.txt
include ./requirements/test_requirements.txt
exclude *.log
exclude *.cfg

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
